.pass-1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.pass-2{
    text-align: center;  
}
.pass-3{
    text-align:center;
    padding: 40px;

display: block;
}
.pass-3-1{
    width:15rem;
    height:1rem;
}
.pass-4{
    text-align: center;
    padding-top:2rem
}
.pass-4-1{
    padding-right: 2rem;
    color:rgb(75, 197, 171);
    font-weight: bold;
    font-style: none;
    
}
.pass-4-1:hover{

 color: rgb(13, 131, 121);
}
.pass-4-2{
    background-color:rgb(75, 197, 171);
    border-style: none;
    width:5rem;
    height:2rem;
    border-radius:30rem;
    box-shadow: 3px 3px rgb(13, 82, 67);   
}
.pass-4-2:hover{
    background-color: rgb(13, 131, 121);
}
.foot{
    padding-top:50px;
}